<%= form_with(model: interview, local: true) do |form| %>
  <% if interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
        <% interview.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-control">
     <%= form.hidden_field :application_id, :value => params[:application_id] %>
  </div>

  <div class="field form-control">
    <%= form.label :Interviewer%>
    <%= form.collection_select :user_id,User.where(role_id:2), :id, :name %>

  </div>

  <div class="field form-control">
    <%= form.label :scheduled_date %>
    <%= form.datetime_select :scheduled_date %>
  </div>

  <div class="field form-control">
    <%= form.label :status %>
    <%= form.collection_select :status_id, Status.all, :id, :name %>
  </div>

  <div class="field form-control">
    <%= form.label :interview_feedback %>
    <%= form.text_area :interview_feedback %>
  </div>

  <div class="actions btn btn-primary">
    <%= form.submit %>
  </div>
<% end %>
