<p id="notice"><%= notice %></p>

<h1>Assigned Interviews</h1>

<table>
  <thead>
    <tr>
      <th>Application id</th>
      <th>Application</th>
      <th>Interviewer</th>
      <th>Scheduled date</th>
      <th>Status</th>
      <th>Interview feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigned_interviews.each do |interview| %>
      <tr>
        <td><%= interview.application_id %></td>
        <td><%= interview.application.name%></td>
        <td><%= interview.user.name %></td>
        <td><%= interview.scheduled_date %></td>
        <td><%= interview.status.name %></td>
        <td><%= interview.interview_feedback %></td>
        <td><%= link_to 'Accept', edit_interview_path(interview.id) %></td>
        <td><%= link_to 'Decline', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

