<div class="container"></div>
<div class="row">
	<div class="col-3">
		<aside>
			<div class="row p-2">
				<button class="col-12 btn btn-warning">
         <%= link_to 'Edit', edit_interview_path(@interview) %>
		    </button>
			</div>
			<div class="row p-2">
				<button class="col-12 btn btn-warning">
					<%= link_to 'Back', interviews_path if @user_role == "HIRING MANAGER" %>
			    <%= link_to 'Back', scheduled_interviews_path if @user_role == "INTERVIEWER" %>
				</button>
			</div>
		</aside>
	</div>
	<div class="col-9">
		<section>
      <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <th scope="row">Application</th>
      <td> <%=@interview.application.name %></td>
    </tr>
    <tr>
      <th scope="row">Interviewer</th>
      <td><%= @interview.user.name %></td>
    </tr>
    <tr>
      <th scope="row">Scheduled Date</th>
      <td><%= @interview.scheduled_date%></td>

    </tr>
    <tr>
      <th scope="row">Status</th>
      <td><%= @interview.status.name%></td>

    </tr>
    <tr>
      <th scope="row">Interview feedback</th>
      <td><%= @interview.interview_feedback%></td>

    </tr>
  </tbody>
</table>
</section>
    </div>
  </div>
</div>


</div>
