<p id="notice"><%= notice %></p>

<p>
  <strong>Application:</strong>
  <%= @interview.application.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @interview.user.name %>
</p>

<p>
  <strong>Scheduled date:</strong>
  <%= @interview.scheduled_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @interview.status.name %>
</p>

<p>
  <strong>Interview feedback:</strong>
  <%= @interview.interview_feedback %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path if @user_role == "HIRING MANAGER" %>
<%= link_to 'Back', scheduled_interviews_path if @user_role == "INTERVIEWER" %>

