<%= form_for @application,  url: give_feedback_path(@application) do |form| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% @application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1> ACCEPT OFFER </h1>
  <div class="field">
    <%= form.label :JoiningDate  %>
    <%= form.date :JoiningDate%>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
