<p id="notice"><%= notice %></p>

<h1>Applications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Experience</th>
      <th>Resume</th>
      <th>Status</th>
      <th>Job</th>
      <th>Joining date</th>
      <th>Rejection reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= application.email %></td>
        <td><%= application.mobile %></td>
        <td><%= application.experience %></td>
        <td><%= application.resume %></td>
        <td><%= application.status_id %></td>
        <td><%= application.job_id %></td>
        <td><%= application.joining_date %></td>
        <td><%= application.rejection_reason %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
