<%= form_for(@application,  url: update_application_final_path(params[:id])) do |form| %>
	<% if @application.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

			<ul>
				<% @application.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<h1> REJECT OFFER</h1>
	<div class="form-group">
		<%= form.label :rejection_reason , class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= form.text_area :rejection_reason , class: "form-control" %>
		</div>
	</div>

	<button class="btn btn-info ml-3" type="submit">Submit</button>
<% end %>
