<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @application.mobile %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @application.experience %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @application.resume %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status.name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @application.job.name%>
</p>

<p>
  <strong>Joining date:</strong>
  <%= @application.joining_date %>
</p>

<p>
  <strong>Rejection reason:</strong>
  <%= @application.rejection_reason %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %> |
<%= link_to 'Setup Interview', new_application_interview_path(:application_id => @application.id)%> |
<%= link_to 'Release Offer' , release_offer_letter_path %>

