<h1>congratulations</h1>

<p>
	<%= @application.name %>, pleased to inform you have been selected.
	Accept or Decline the offer below
</p>
<%= link_to(:controller => "applications", :action => "accept_offer", :id => @application.id) do %>
	<span>Accept</span>
<% end %>
<%= link_to(:controller => "applications", :action => "reject_offer", :id => @application.id) do %>
	<span>Reject</span>
<% end %>
<%# <%= link_to accept_offer_path, params[:id] = @application.id%>
<%# <%= link_to reject_offer_path, params[:id]=  @application.id%>
